<html>
    <title>Chat application</title>
    <head>
        <link rel="icon" href="/icon/favicon.png">
        <link rel="stylesheet" href="/css/styles.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="centered-form">
            <div class="centered-form__box">
                <h1>Join</h1>
                <form action="/chatroom" method="GET">
                <label>Dispaly Name</label>
                <input type="text" name="username" placeholder="Display name" required>
                <label>Room Name</label>
                <input type="text" name="room" placeholder="Room Name" required>
                <button>Join</button>
                </form>
            </div>
        </div>
    </body>
</html>